@charset "UTF-8";

.bd-navbar {
	position: fixed;
	top: 0;
	z-index: 1071;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0
		rgba(0, 0, 0, .1);
}

.bd-sidebar {
	z-index: 1000;
	height: 100vh;
	background: #eee;
	border-right: 1px solid rgba(0, 0, 0, .1);
	overflow-y: auto;
	min-width: 160px;
	max-width: 220px;
	margin-top: 0;
	padding-top: 0;
}

.bd-sidebar .nav {
	display: block;
}

.bd-sidebar .nav>li>a {
	display: block;
	padding: .25rem 1.5rem;
	font-size: 90%;
}

.nav>li>a {
	text-decoration: none;
	color: black;
}

.nav>li>a:hover {
	color: red;
}

.admin-ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}

.admin-li {
	list-style-type: none;
	margin-top: 5px;
}

.admin-li div {
	padding-left: 1em;
	position: relative;
}

.admin-li div::before {
	content: '';
	position: absolute;
	top: 0;
	left: -2px;
	bottom: 50%;
	width: 0.75em;
	border: 2px solid #000;
	border-top: 0 none transparent;
	border-right: 0 none transparent;
}

.admin-ul>.admin-li:last-child {
	border-left: 1px solid transparent;
}

.admin-ul>.admin-li>a, .admin-ul>.admin-li>div>a {
	text-decoration: none;
	color: black;
}

.admin-ul>.admin-li>a:hover, .admin-ul>.admin-li>div>a:hover {
	text-decoration: none;
	color: red;
}

.admin-ul>.admin-li>div {
	margin-left: 20px;
}